In [3]:
!pip install numpy

Collecting numpy
  Downloading numpy-2.1.2-cp313-cp313-win_amd64.whl.metadata (59 kB)
Downloading numpy-2.1.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.6 MB 5.1 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/12.6 MB 4.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.6/12.6 MB 4.5 MB/s eta 0:00:03
   ---------- ----------------------------- 3.4/12.6 MB 4.5 MB/s eta 0:00:03
   ------------- -------------------------- 4.2/12.6 MB 4.6 MB/s eta 0:00:02
   ---------------- ----------------------- 5.2/12.6 MB 4.4 MB/s eta 0:00:02
   ------------------- -------------------- 6.0/12.6 MB 4.4 MB/s eta 0:00:02
   ---------------------- ----------------- 7.1/12.6 MB 4.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.9/12.6 MB 4.3 MB/s eta 0:00:02
   --------------------------- ------------ 8.7/12.6 MB 4.3 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.6 MB 4.4 MB/s eta 0:00:01
   --------------------------------- ------ 10.5/12.6 MB 4.3 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 4.2 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.1.2

In [4]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 2.9 MB/s eta 0:00:04
   -- ------------------------------------- 0.8/11.5 MB 2.1 MB/s eta 0:00:06
   ------ --------------------------------- 1.8/11.5 MB 3.3 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/11.5 MB 3.7 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.5 MB 4.1 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.5 MB 4.3 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.5 MB 4.2 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.5 MB 4.8 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 5.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 5.0 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [5]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.9.2-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.0-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.54.1-cp313-cp313-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.4.0-cp313-cp313-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.2-cp313-cp313-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   -- ------------------------------------- 0.5/7.8 MB 3.7 MB/s eta 0:00:02
   --------- ------------------------------ 1.8/7.8 MB 4.7 MB/s eta 0:00:02
   -------------- ------------------------- 2.9/7.8 MB 4.8 MB/s eta 0:00:02
   ------------------ --------------------- 3.7/7.8 MB 4.5 MB/s eta 0:00:01
   ------------------------ --------------- 4.7/7.8 MB 4.6 MB/s eta 0:00:01
   ----------------------------- ---------- 5.8/7.8 MB 4.7 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 4.7 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 4.7 MB/s eta 0:00:00
Downloading contourpy-1.3.0-cp313-cp313-win_amd64.whl (218 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.2 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 4.8 MB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp313-cp313-win_amd64.whl (55 kB)
Downloading pillow-10.4.0-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------- ----------------------- 1.0/2.6 MB 5.1 MB/s eta 0:00:01
   -------------------------------- ------- 2.1/2.6 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 4.6 MB/s eta 0:00:00
Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.4

In [6]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.1.2)
Requirement already satisfied: pandas>=1.2 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\nikhi\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

In [202]:
df_calls = pd.read_csv(r"C:\Users\nikhi\Downloads\SkyHack\Test Data Analysis\calls.csv", encoding='unicode_escape', low_memory = False)

In [203]:
df_calls.shape

(71810, 8)

In [204]:
df_calls.head(10)

,call_id,customer_id,agent_id,call_start_datetime,agent_assigned_datetime,call_end_datetime,call_transcript,Unnamed: 7
0,4667960400,2033123310,963118,7/31/2024 23:56,08-01-2024 00:03,08-01-2024 00:34,\n\nAgent: Thank you for calling United Airlin...,NaN
1,1122072124,8186702651,519057,08-01-2024 00:03,08-01-2024 00:06,08-01-2024 00:18,\n\nAgent: Thank you for calling United Airlin...,NaN
2,6834291559,2416856629,158319,7/31/2024 23:59,08-01-2024 00:07,08-01-2024 00:26,\n\nAgent: Thank you for calling United Airlin...,NaN
3,2266439882,1154544516,488324,08-01-2024 00:05,08-01-2024 00:10,08-01-2024 00:17,\n\nAgent: Thank you for calling United Airlin...,NaN
4,1211603231,5214456437,721730,08-01-2024 00:04,08-01-2024 00:14,08-01-2024 00:23,\n\nAgent: Thank you for calling United Airlin...,NaN
5,5297766997,5590154991,817160,08-01-2024 00:11,08-01-2024 00:16,08-01-2024 00:40,\n\nAgent: Thank you for calling United Airlin...,NaN
6,324593040,6774865122,519057,08-01-2024 00:08,08-01-2024 00:21,08-01-2024 00:34,\n\nAgent: Thank you for calling United Airlin...,NaN
7,8902603117,7974326984,488324,08-01-2024 00:13,08-01-2024 00:21,08-01-2024 00:29,\n\nAgent: Thank you for calling United Airlin...,NaN
8,7222687732,8023417234,957331,08-01-2024 00:14,08-01-2024 00:22,08-01-2024 00:35,\n\nAgent: Thank you for calling United Airlin...,NaN
9,4113684017,1528835057,158319,08-01-2024 00:20,08-01-2024 00:28,08-01-2024 00:37,\n\nAgent: Thank you for calling United Airlin...,NaN

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71810 entries, 0 to 71809
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   call_id                  71810 non-null  int64
 1   customer_id              71810 non-null  int64
 2   agent_id                 71810 non-null  int64
 3   call_start_datetime      71810 non-null  object
 4   agent_assigned_datetime  71810 non-null  object
 5   call_end_datetime        71810 non-null  object
 6   call_transcript          71810 non-null  object
 7   Unnamed: 7               0 non-null      float64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.4+ MB

In [205]:
#Drop blank/Unrelated Columns 
df_calls.drop(df.columns[df.columns.str.contains('^Unnamed')], axis=1, inplace=True)

In [90]:
#Check for null values 
pd.isnull(df).sum()

call_id                    0
customer_id                0
agent_id                   0
call_start_datetime        0
agent_assigned_datetime    0
call_end_datetime          0
call_transcript            0
dtype: int64

In [91]:
df.describe()

            call_id   customer_id       agent_id
count  7.181000e+04  7.181000e+04   71810.000000
mean   4.993574e+09  5.004334e+09  564768.278039
std    2.889673e+09  2.884255e+09  257532.362167
min    1.316420e+05  1.197800e+04  102574.000000
25%    2.480013e+09  2.514618e+09  347606.000000
50%    4.989448e+09  4.999664e+09  591778.000000
75%    7.493629e+09  7.509126e+09  786323.000000
max    9.999806e+09  9.999935e+09  993862.000000

In [206]:
def convert_mixed_datetime(date_column):
    # Attempt to parse MM/DD/YYYY format first
    format1 = pd.to_datetime(date_column, format='%m/%d/%Y %H:%M', errors='coerce')
    
    # For rows where format1 failed (NaT), attempt to parse DD-MM-YYYY format
    format2 = pd.to_datetime(date_column, format='%d-%m-%Y %H:%M', errors='coerce')
    
    # Use format1 where it succeeded, otherwise use format2
    return format1.fillna(format2)

In [207]:
for col in ['call_start_datetime', 'agent_assigned_datetime', 'call_end_datetime']:
    df_calls[col] = convert_mixed_datetime(df_calls[col])

In [208]:
df_calls.head()

,call_id,customer_id,agent_id,call_start_datetime,agent_assigned_datetime,call_end_datetime,call_transcript,Unnamed: 7
0,4667960400,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,NaN
1,1122072124,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,NaN
2,6834291559,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,NaN
3,2266439882,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,NaN
4,1211603231,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,NaN

In [209]:
df_calls['handle_time_seconds'] = ( df_calls['call_end_datetime'] - df_calls['agent_assigned_datetime']).dt.total_seconds()

In [126]:
df.head()

,call_id,customer_id,agent_id,call_start_datetime,agent_assigned_datetime,call_end_datetime,call_transcript,handle_time_seconds
0,4667960400,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,1860.0
1,1122072124,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,720.0
2,6834291559,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,1140.0
3,2266439882,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,420.0
4,1211603231,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,540.0

In [210]:
df_calls['handle_time_seconds'] = df_calls['handle_time_seconds'].abs()

In [211]:
#check for unrealistic time values 
df_sorted = df_calls[['handle_time_seconds']].sort_values(by='handle_time_seconds', ascending=False)
print(df_sorted.head(10))

       handle_time_seconds
71809           20390220.0
71808           20390160.0
71807           20390040.0
71806           20389920.0
71799           20389860.0
71804           20389800.0
71802           20389500.0
71794           20389440.0
71791           20389380.0
71797           20389200.0

In [212]:
#Put a threshold limit to unrealistically long calls or short calls
threshold_min = 5    # Minimum threshold (5 seconds)
threshold_max = 3600  # Maximum threshold (1 hour in seconds)
df_filtered = df_calls[(df_calls['handle_time_seconds'] > threshold_min) & (df_calls['handle_time_seconds'] <= threshold_max)]

In [213]:
AHT = df_filtered['handle_time_seconds'].mean()

In [214]:
print(AHT)

657.7133581371296

In [215]:
#Calculation of AST 
df_calls['waiting_time_seconds'] = (df_calls['agent_assigned_datetime'] - df_calls['call_start_datetime']).dt.total_seconds()
df_calls['waiting_time_seconds'] = df_calls['waiting_time_seconds'].abs()

In [293]:
df_calls.head()

,call_id,customer_id,agent_id,call_start_datetime,agent_assigned_datetime,call_end_datetime,call_transcript,Unnamed: 7,handle_time_seconds,waiting_time_seconds
0,4667960400,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,NaN,1860.0,17797980.0
1,1122072124,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,NaN,720.0,180.0
2,6834291559,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,NaN,1140.0,17797920.0
3,2266439882,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,NaN,420.0,300.0
4,1211603231,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,NaN,540.0,600.0

In [216]:
# Setting a more realistic threshold for maximum waiting time ( 600 seconds or 10 minutes)
threshold_min = 15    # Minimum valid waiting time (15 second),  considering Time spent navigating the IVR system.
threshold_max = 600  # Maximum valid waiting time (10 minutes)

df_filtered_ast = df_calls[(df_calls['waiting_time_seconds'] > threshold_min) & (df_calls['waiting_time_seconds'] <= threshold_max)]

In [217]:
AST = df_filtered_ast['waiting_time_seconds'].mean()

In [218]:
print(AST)

412.7005629032996

In [355]:
#Loading Sentiments and Reasons data files 
df_sentiments = pd.read_csv(r"C:\Users\nikhi\Downloads\SkyHack\Test Data Analysis\sentiment.csv", encoding='unicode_escape', low_memory = False)
df_reasons = pd.read_csv(r"C:\Users\nikhi\Downloads\SkyHack\Test Data Analysis\reason.csv", encoding='unicode_escape', low_memory = False)

In [356]:
df_sentiments.head()

,call_id,agent_id,agent_tone,customer_tone,average_sentiment,silence_percent_average
0,4667960400,963118,neutral,angry,-0.04,0.39
1,1122072124,519057,calm,neutral,0.02,0.35
2,6834291559,158319,neutral,polite,-0.13,0.32
3,2266439882,488324,neutral,frustrated,-0.20,0.20
4,1211603231,721730,neutral,polite,-0.05,0.35

In [357]:
df_reasons.head()

      call_id primary_call_reason
0  4667960400   Voluntary  Cancel
1  1122072124             Booking
2  6834291559              IRROPS
3  2266439882             Upgrade
4  1211603231             Seating

In [358]:
df_sentiments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71810 entries, 0 to 71809
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   call_id                  71810 non-null  int64
 1   agent_id                 71810 non-null  int64
 2   agent_tone               71593 non-null  object
 3   customer_tone            71810 non-null  object
 4   average_sentiment        71701 non-null  float64
 5   silence_percent_average  71810 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.3+ MB

In [359]:
#checking for null values
pd.isnull(df_sentiments).sum()

call_id                      0
agent_id                     0
agent_tone                 217
customer_tone                0
average_sentiment          109
silence_percent_average      0
dtype: int64

In [360]:
df_sentiments = df_sentiments.dropna()

In [361]:
pd.isnull(df_sentiments).sum()

call_id                    0
agent_id                   0
agent_tone                 0
customer_tone              0
average_sentiment          0
silence_percent_average    0
dtype: int64

In [362]:
pd.isnull(df_reasons).sum()

call_id                0
primary_call_reason    0
dtype: int64

In [363]:
df_reasons['primary_call_reason'] = df_reasons['primary_call_reason'].str.lower()  # Convert to lowercase
df_reasons['primary_call_reason'] = df_reasons['primary_call_reason'].str.replace('-', ' ')  # Replace hyphens with spaces
df_reasons['primary_call_reason'] = df_reasons['primary_call_reason'].str.replace('&', 'and')  # Replace '&' with 'and'
df_reasons['primary_call_reason'] = df_reasons['primary_call_reason'].str.strip().str.replace(r'\s+', ' ', regex=True)  # Remove extra spaces

In [364]:
df_reasons_cleaned = df_reasons.groupby('primary_call_reason').sum()
print(df_reasons_cleaned)

                              call_id
primary_call_reason
baggage                13934770044993
booking                13286189374696
check in                9572803521375
checkout                9429045838384
communications         19158396483610
digital support         6235853556008
disability              1901322590112
etc                     4818768509237
irrops                 67102774798015
mileage plus           28956550956632
other topics            3965910324220
post flight            21955524083786
products and services  16773055697535
schedule change         3614148687399
seating                31637121509389
traveler updates        4848923139558
unaccompanied minor      494765734723
upgrade                13413169185143
voluntary cancel        7951779000800
voluntary change       53806402511662

In [365]:
call_reason_counts = df_reasons['primary_call_reason'].value_counts()
print(call_reason_counts)

primary_call_reason
irrops                   13311
voluntary change         10848
seating                   6365
mileage plus              5851
post flight               4330
communications            3840
products and services     3332
baggage                   2832
upgrade                   2738
booking                   2637
check in                  1904
checkout                  1888
voluntary cancel          1607
digital support           1225
etc                        952
traveler updates           937
other topics               818
schedule change            731
disability                 403
unaccompanied minor        104
Name: count, dtype: int64

In [366]:
# Most and least frequent reasons
most_frequent_reason = call_reason_counts.idxmax()
least_frequent_reason = call_reason_counts.idxmin()
print("Most Frequent call Reason  : ", most_frequent_reason, )
print("Least Frequent Call Reason : ", least_frequent_reason, )

Most Frequent call Reason  :  irrops
Least Frequent Call Reason :  unaccompanied minor

In [367]:
merged_df = pd.merge(df_calls, df_reasons, on='call_id', how='left')

In [368]:
merged_df.head()

,call_id,customer_id,agent_id,call_start_datetime,agent_assigned_datetime,call_end_datetime,call_transcript,Unnamed: 7,handle_time_seconds,waiting_time_seconds,primary_call_reason
0,4667960400,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,NaN,1860.0,17797980.0,voluntary cancel
1,1122072124,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,NaN,720.0,180.0,booking
2,6834291559,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,NaN,1140.0,17797920.0,irrops
3,2266439882,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,NaN,420.0,300.0,upgrade
4,1211603231,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,NaN,540.0,600.0,seating

In [369]:
#findig null and irrelevent columns
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71810 entries, 0 to 71809
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   call_id                  71810 non-null  int64
 1   customer_id              71810 non-null  int64
 2   agent_id                 71810 non-null  int64
 3   call_start_datetime      71810 non-null  datetime64[ns]
 4   agent_assigned_datetime  71810 non-null  datetime64[ns]
 5   call_end_datetime        71810 non-null  datetime64[ns]
 6   call_transcript          71810 non-null  object
 7   Unnamed: 7               0 non-null      float64
 8   handle_time_seconds      71810 non-null  float64
 9   waiting_time_seconds     71810 non-null  float64
 10  primary_call_reason      66653 non-null  object
dtypes: datetime64[ns](3), float64(3), int64(3), object(2)
memory usage: 6.0+ MB

In [370]:
#removing null columns
merged_df.drop(merged_df.columns[merged_df.columns.str.contains('^Unnamed')], axis=1, inplace=True)

In [371]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71810 entries, 0 to 71809
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   call_id                  71810 non-null  int64
 1   customer_id              71810 non-null  int64
 2   agent_id                 71810 non-null  int64
 3   call_start_datetime      71810 non-null  datetime64[ns]
 4   agent_assigned_datetime  71810 non-null  datetime64[ns]
 5   call_end_datetime        71810 non-null  datetime64[ns]
 6   call_transcript          71810 non-null  object
 7   handle_time_seconds      71810 non-null  float64
 8   waiting_time_seconds     71810 non-null  float64
 9   primary_call_reason      66653 non-null  object
dtypes: datetime64[ns](3), float64(2), int64(3), object(2)
memory usage: 5.5+ MB

In [372]:
merged_df.head()

,call_id,customer_id,agent_id,call_start_datetime,agent_assigned_datetime,call_end_datetime,call_transcript,handle_time_seconds,waiting_time_seconds,primary_call_reason
0,4667960400,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,1860.0,17797980.0,voluntary cancel
1,1122072124,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,720.0,180.0,booking
2,6834291559,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,1140.0,17797920.0,irrops
3,2266439882,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,420.0,300.0,upgrade
4,1211603231,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,540.0,600.0,seating

In [373]:
filtered_df = merged_df[
    (merged_df['handle_time_seconds'] >= 5) &      # Minimum handle time 5 seconds
    (merged_df['handle_time_seconds'] <= 3600) &   # Maximum handle time 3600 seconds (1 hour)
    (merged_df['waiting_time_seconds'] >= 5) &     # Minimum waiting time 5 seconds
    (merged_df['waiting_time_seconds'] <= 600)     # Maximum waiting time 600 seconds (10 minutes)
]

In [376]:
reason_aht_ast = filtered_df.groupby('primary_call_reason').agg({
    'handle_time_seconds': 'mean',   # Assuming `handle_time` column for AHT calculation
    'waiting_time_seconds': 'mean'   # Assuming `waiting_time` column for AST calculation
}).reset_index()

In [377]:
print("Average AHT and AST by Reason:")
print(reason_aht_ast)

Average AHT and AST by Reason:
      primary_call_reason  handle_time_seconds  waiting_time_seconds
0                 baggage           357.570370            509.837037
1                 booking           418.811410            240.309033
2                check in           484.021978            355.648352
3                checkout           961.122661            569.189189
4          communications           768.153887            239.807641
5         digital support           378.081494            505.721562
6              disability           298.025316            503.696203
7                     etc           849.230769            515.357143
8                  irrops           746.202970            360.175425
9            mileage plus           907.011453            360.751611
10           other topics           358.396947            238.854962
11            post flight           825.534682            569.508671
12  products and services           703.597390            302.143523
13        schedule change           483.514286            240.342857
14                seating           467.786675            570.836003
15                upgrade           608.013468            298.518519
16       voluntary cancel           658.882591            508.761134
17       voluntary change           621.540995            509.587107

In [378]:
aht_ast_reason_freq = reason_aht_ast.merge(call_reason_counts.rename('frequency'), left_on='primary_call_reason', right_index=True).sort_values(by='frequency', ascending=False)

In [379]:
print(aht_ast_reason_freq)

      primary_call_reason  handle_time_seconds  waiting_time_seconds  \
8                  irrops           746.202970            360.175425
17       voluntary change           621.540995            509.587107
14                seating           467.786675            570.836003
9            mileage plus           907.011453            360.751611
11            post flight           825.534682            569.508671
4          communications           768.153887            239.807641
12  products and services           703.597390            302.143523
0                 baggage           357.570370            509.837037
15                upgrade           608.013468            298.518519
1                 booking           418.811410            240.309033
2                check in           484.021978            355.648352
3                checkout           961.122661            569.189189
16       voluntary cancel           658.882591            508.761134
5         digital support           378.081494            505.721562
7                     etc           849.230769            515.357143
10           other topics           358.396947            238.854962
13        schedule change           483.514286            240.342857
6              disability           298.025316            503.696203

    frequency
8       13311
17      10848
14       6365
9        5851
11       4330
4        3840
12       3332
0        2832
15       2738
1        2637
2        1904
3        1888
16       1607
5        1225
7         952
10        818
13        731
6         403

In [380]:
merged_df = pd.merge(merged_df, df_sentiments, on='call_id', how='left')

In [388]:
merged_df.head()

,call_id,customer_id,agent_id_x,call_start_datetime,agent_assigned_datetime,call_end_datetime,call_transcript,handle_time_seconds,waiting_time_seconds,primary_call_reason,agent_id_y,agent_tone,customer_tone,average_sentiment,silence_percent_average
0,4667960400,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,1860.0,17797980.0,voluntary cancel,963118.0,neutral,angry,-0.04,0.39
1,1122072124,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,720.0,180.0,booking,519057.0,calm,neutral,0.02,0.35
2,6834291559,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,1140.0,17797920.0,irrops,158319.0,neutral,polite,-0.13,0.32
3,2266439882,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,420.0,300.0,upgrade,488324.0,neutral,frustrated,-0.20,0.20
4,1211603231,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,540.0,600.0,seating,721730.0,neutral,polite,-0.05,0.35

In [407]:
#AHT / AST for sentiments
aht_ast_by_sentiment = merged_df.groupby(['agent_tone']).agg({
    'handle_time_seconds': 'mean',
    'waiting_time_seconds': 'mean'
}).reset_index()

In [408]:
print(aht_ast_by_sentiment)

   agent_tone  handle_time_seconds  waiting_time_seconds
0       angry          7057.634961           6866.221080
1        calm          7544.632219           1882.652888
2  frustrated          3384.495114           7295.700326
3     neutral         10295.367417           3829.072922
4      polite           220.000000            461.379310

In [409]:
# Finding the busiest Hours based on number of calls
df_calls['call_hour'] = pd.to_datetime(df_calls['call_start_datetime']).dt.hour

In [423]:
high_volume_periods = df_calls.groupby('call_hour').size().sort_values(ascending=False).head(24)

In [439]:
print(high_volume_periods)

call_hour
9     5321
12    5310
11    5244
16    5229
17    5229
10    5199
8     5197
14    5194
15    5182
13    5168
18    4683
7     1616
0     1147
20    1139
1     1126
22    1125
23    1119
19    1110
21    1106
5     1104
6     1080
3     1069
4     1061
2     1052
dtype: int64

In [440]:
df_high_volume = df_calls[df_calls['call_hour'].isin(high_volume_periods.index)]

In [437]:
merged_df = pd.merge(merged_de, df_high_volume, on='call_id', how='left')

TypeError: merge() missing 1 required positional argument: 'right'

,call_id,customer_id_x,agent_id_x,call_start_datetime_x,agent_assigned_datetime_x,call_end_datetime_x,call_transcript_x,handle_time_seconds_x,waiting_time_seconds_x,primary_call_reason,...,customer_id_y,agent_id,call_start_datetime_y,agent_assigned_datetime_y,call_end_datetime_y,call_transcript_y,Unnamed: 7,handle_time_seconds_y,waiting_time_seconds_y,call_hour
0,4667960400,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,1860.0,17797980.0,voluntary cancel,...,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,NaN,1860.0,17797980.0,23
1,1122072124,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,720.0,180.0,booking,...,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,NaN,720.0,180.0,0
2,6834291559,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,1140.0,17797920.0,irrops,...,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,NaN,1140.0,17797920.0,23
3,2266439882,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,420.0,300.0,upgrade,...,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,NaN,420.0,300.0,0
4,1211603231,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,540.0,600.0,seating,...,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,NaN,540.0,600.0,0

In [438]:
aht_ast_high_volume = merged_df.groupby('primary_call_reason').agg({
    'handle_time_seconds': 'mean',
    'waiting_time_seconds': 'mean'
}).reset_index()

KeyError: "Column(s) ['handle_time_seconds', 'waiting_time_seconds'] do not exist"

,call_id,customer_id,agent_id,call_start_datetime,agent_assigned_datetime,call_end_datetime,call_transcript,Unnamed: 7,handle_time_seconds,waiting_time_seconds,call_hour
0,4667960400,2033123310,963118,2024-07-31 23:56:00,2024-01-08 00:03:00,2024-01-08 00:34:00,\n\nAgent: Thank you for calling United Airlin...,NaN,1860.0,17797980.0,23
1,1122072124,8186702651,519057,2024-01-08 00:03:00,2024-01-08 00:06:00,2024-01-08 00:18:00,\n\nAgent: Thank you for calling United Airlin...,NaN,720.0,180.0,0
2,6834291559,2416856629,158319,2024-07-31 23:59:00,2024-01-08 00:07:00,2024-01-08 00:26:00,\n\nAgent: Thank you for calling United Airlin...,NaN,1140.0,17797920.0,23
3,2266439882,1154544516,488324,2024-01-08 00:05:00,2024-01-08 00:10:00,2024-01-08 00:17:00,\n\nAgent: Thank you for calling United Airlin...,NaN,420.0,300.0,0
4,1211603231,5214456437,721730,2024-01-08 00:04:00,2024-01-08 00:14:00,2024-01-08 00:23:00,\n\nAgent: Thank you for calling United Airlin...,NaN,540.0,600.0,0